@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

@font-face {
  font-family: "AileronsRegular";
  src: local("AileronsRegular"),
    url("./components/fonts/Ailerons-Regular.otf") format("truetype");
  font-weight: bold;

}

@font-face {
  font-family: "PROMETHEUS";
  src: local("PROMETHEUS"),
    url("./components/fonts/PROMETHEUS.ttf") format("truetype");
  font-weight: bold;
}

* {
  font-family: "AileronsRegular"
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}


.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #00d2f7;
  background: url("./images/galaxy-purple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.Sidebar {
  width: 300px;
  min-width: 210px;
  height: 100%;
  background-image: linear-gradient(to right, #3000b3bd, rgba(53, 53, 53, 0.459));
  /* background-image: linear-gradient(to right, #313131, #202020, #000000); */
  box-shadow: 10px;
  border-right: 0.5px solid #b500fd
}

.Main {
  width: 100%;
  height: 100%;
  position: relative
}

/* User */
.User {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border-bottom: 1px solid #b500fd;
}

.User .info p {
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 1px;
}

.User .info a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  color: white
}

.User .info button {
  background-color: blue;
  padding: 1px;
  border-radius: 25%;
  color: white;
  cursor: pointer;
}

/* Modal */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
}

.Modal .container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

/* Add Todo */
.AddNewTodo {
  border-bottom: 1px solid #b500fd;
}

.AddNewTodo .btn {
  padding: 1rem;
  padding-bottom: 2rem;
  width: 100%;
  height: 80px;
}

.AddNewTodo .btn button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* border: 1px solid; */
  /* box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5); */
  font-size: 1rem;
  background-image: linear-gradient(to right, #b500fdde, #00d2f79a);
  color: #3000b3;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 4px;
}

.AddNewTodo .btn button:hover {
  background: #00d2f7;
  color: #050801;
  box-shadow: 0 0 5px #00d2f7, 0 0 25px #00d2f7, 0 0 50px #00d2f7,
    0 0 200px #00d2f7;
  border-radius: 10px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

/* AddNewTodo Form */
.TodoForm {
  padding: 1rem 1rem calc(1rem + 40px) 1rem;
  width: 100%;
  background: #3131318c;
  border-radius: 20px;
  height: 80%;
}

.TodoForm .text input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border: none;
  font-size: 1.5rem;
  border-radius: 20px;
  background: #3131318c;
  color: #00d2f7;
  font-weight: bold;
}

.TodoForm .text input:focus {
  outline: none;
  border-bottom: 1px solid #b500fd;
}

.TodoForm .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.TodoForm p {
  margin-left: 10px;
}

.TodoForm .title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.TodoForm .pick-day {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.TodoForm .pick-time {
  padding: 1.5rem;
}

.TodoForm .pick-project {
  padding: 0.5rem;
}

.TodoForm .pick-project .projects {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0 1rem;
}

.TodoForm .pick-project .projects .project {
  border: 1px solid #b500fd;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.TodoForm .pick-project .projects .active {
  background: #3000b3;
  color: #02e0bb;
  font-weight: bold;
}

.TodoForm .cancel {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

.TodoForm .confirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.TodoForm .confirm button {
  width: 100%;
  height: 40px;
  background: #3000b3;
  color: #00d2f7;
  font-size: 1.1rem;
  border: none;
  border-radius: 0 0 20px 20px;
  cursor: pointer;
}

/* Calendar */
.Calendar {
  padding: 1rem;
  border-bottom: 1px solid #b500fd;
}

.Calendar .header {
  display: flex;
  align-items: center;
}

.Calendar .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}

.Calendar .header .title p {
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: bold;

}

.Calendar .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Calendar .header .btns span:hover {
  background-color: #3000b3;
  transition: background all 300ms ease-in-out;
}

.Calendar .items {
  padding: 0.5rem;
}

.Calendar .items .item {
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}



/* Projects */
.Projects {
  padding: 1rem;
  border-bottom: 1px solid #b500fd;
  border-radius: 20px;
}

.Projects .header {
  display: flex;
  align-items: center;
}

.Projects .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}

.Projects .header .title p {
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #00d2f7;
}

.Projects .header .btns {
  display: flex;
  align-items: center;
}

.Projects .header .btns span.edit {
  margin-right: 5px;
}

.Projects .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Projects .header .btns span:hover {
  background-color: #3000b3;
  transition: background all 300ms ease-in-out;
}

.Projects .items {
  padding: 0.5rem;
}

/* Project */
.Project {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
}

.Project .name {
  cursor: pointer;
  word-break: break-all;
}

.Project .btns {
  display: flex;
  align-items: center;
}

.Project .btns .total-todos {
  position: absolute;
  right: 0;
  background: #3000b3;
  width: 25px;
  height: 25px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.Project .btns .edit-delete {
  position: absolute;
  right: 0;
  display: flex;
}

.Project .btns .edit-delete span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 300ms ease-in-out;
}

.Project .btns .edit-delete span.edit:hover {
  background: #02e0bb;
}

.Project .btns .edit-delete span.delete:hover {
  background: #dd0042;
}


/* AddNewProject */
.AddNewProject .add-button span {
  margin-right: 5px;
  border-radius: 200px;

}


/* ProjectForm */
.ProjectForm {
  background-color: white;
  padding: 1rem;
  position: relative;
  padding-bottom: 40px;
  border-radius: 20px;
  background: #3131318c;
  color: #00d2f7;
  font-weight: bold;
}

.ProjectForm input {
  width: 100%;
  height: 40px;
  margin: 15px 2px;
  border: none;
  font-size: 1.2rem;
  border-radius: 20px;
  color: #00d2f7;
  background: #3131318c;
  border-color: #b500fd;
}

.ProjectForm input:focus {
  outline: none;
  padding-left: 1px;
  border-bottom: 1px solid #b500fd;
}

.ProjectForm button {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 50%;
  border: none;
  color: #b500fd;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background filter 300ms ease-in-out;
}

.ProjectForm button.cancel {
  left: 0;
  background-color: #3000b3;
  border-radius: 0px 0px 0px 20px;
}

.ProjectForm button.confirm {
  right: 0;
  background-color: #00d2f7;
  border-radius: 0px 0px 20px 0px;
}

.ProjectForm button:hover {
  filter: brightness(1.5);
}

.ProjectForm button.cancel:hover {
  color: #00d2f7;
}

.ProjectForm button.confirm:hover {
  color: #00d2f7;
  background-color: #3000b3;
}

/* Todos */

.Todos {
  background: #31313193;
  width: 450px;
  height: 80%;
  padding: 3px;
  position: absolute;
  border-radius: 20px;
  left: 40px;
  bottom: 40px;
  /* opacity: 0.9; */
  border: 2px solid #b500fd;
  overflow-y: auto;

}

.Todos::-webkit-scrollbar {
  width: 5px
}

.Todos .selected-project {
  margin: 1rem 0;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 1px solid #00d2f7;
}

.Todos .todos {
  overflow-y: auto;
}

/* Todo */
.Todo {
  padding: 0.5rem 1rem;
}

.Todo .todo-container {
  display: flex;
  align-items: center;
}

.Todo .todo-container .check-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
}

.Todo .todo-container span {
  cursor: pointer;
}

.Todo .todo-container .text {
  position: relative;
  flex: 1;
  margin: 0 10px;
  cursor: pointer;
}

.Todo .todo-container .text span {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(255, 4, 171);
}

.Todo .todo-container .text .line {
  height: 1px;
}

.Todo .todo-container .text .line-through {
  height: 1px;
  background: #3000b3;
  position: absolute;
  top: 25%;
  width: 0;
  transition: background width 250ms ease-in-out;
}

.Todo .todo-container .text .line-through {
  width: 100%;
}

.Todo .todo-container .add-to-next-day {
  margin-right: 10px;
}

/* Edit Todo */
.EditTodo {
  background: #31313193;
  position: absolute;
  bottom: 40px;
  left: calc(40px + 450px + 40px);
  height: 80%;
  width: 450px;
  border-radius: 20px;
  border: 2px solid #00d2f7;
}

.EditTodo .header {
  margin: 1rem 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 1px solid #b500fd;
}

/* Social Media Icons */
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;

}

.linkedIn,
.gitHub,
.twitter,
.stormy,
.news,
.stocks,
.micro-word,
.excel,
.icon-email {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  margin: 0 10px;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3)
}

.linkedIn {
  animation-delay: 0.3s;
  display: block;
  background: linear-gradient(0deg, #3000b3, #b500fd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 12px;
  color: #3000b3;
  transition: .5s;
  color: #007bb6;
}

.linkedIn:hover {
  box-shadow: 0 2px 5px #007bb6;
  text-decoration: none;
}

.gitHub {
  animation-delay: 0.3s;
  display: block;
  background: linear-gradient(0deg, #3000b3, #b500fd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 12px;
  color: #3000b3;
  transition: .5s;
  color: #340079;
}

.gitHub:hover {
  box-shadow: 0 2px 5px #a200ff;
  text-decoration: none;
}

.twitter {
  animation-delay: 0.3s;
  display: block;
  background: linear-gradient(0deg, #3000b3, #b500fd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 12px;
  color: #3000b3;
  transition: .5s;
  color: #00aced;
}

.twitter:hover {
  box-shadow: 0 2px 5px #00aced;
  text-decoration: none;
}

.stormy {
  animation-delay: 0.3s;
  display: block;
  background: linear-gradient(-35deg, #0219e7 40%, #fdf900);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 12px;
  color: #51b300;
  transition: .5s;
  color: #cbecfc;
}

.stormy:hover {
  box-shadow: 0 2px 5px #228ab9;
  text-decoration: none;
}

.news {
  animation-delay: 0.3s;
  display: block;
  background: linear-gradient(0deg, #53515a, #000000);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 12px;
  color: #3000b3;
  transition: .5s;
  color: #ffffff;
}

.news:hover {
  box-shadow: 0 2px 5px #030301;
  text-decoration: none;
}

.stocks {
  animation-delay: 0.3s;
  display: block;
  background: linear-gradient(0deg, #000000, #000763);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 12px;
  color: #00f784;
  transition: .5s;
  color: #00fd7f;
}

.stocks:hover {
  box-shadow: 0 2px 5px #00fd7f;
  text-decoration: none;
}

.micro-word {
  animation-delay: 0.3s;
  display: block;
  background: linear-gradient(0deg, #7f88bb, #505050);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 12px;
  color: #000436;
  transition: .5s;
  color: #001485;
}

.micro-word:hover {
  box-shadow: 0 2px 5px #9caafa;
  text-decoration: none;
}

.excel {
  animation-delay: 0.3s;
  display: block;
  background: linear-gradient(0deg, #7f88bb, #085c00);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 12px;
  color: #00f784;
  transition: .5s;
  color: #00fd7f;
}

.excel:hover {
  box-shadow: 0 2px 5px #00fd7f;
  text-decoration: none;
}

.icon-email {
  animation-delay: 0.3s;
  display: block;
  background: linear-gradient(to right, #000000 50%, #ff0022);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 12px;
  color: #00f784;
  transition: .5s;
  color: #e4fd00;
}

.icon-email:hover {
  box-shadow: 0 2px 5px #ff0022;
  text-decoration: none;
}


/* Next7Days */
.Next7Days .day {
  margin: 5px;
  display: flex;
}

.Next7Days .day .name {
  font-weight: bold;
  font-size: 1rem;
}

.Next7Days .day .total-todos {
  margin-left: 10px;
}

/* Login */
.Login {
  position: relative;
  display: table;
  /* transform: translated (-50%, -50%); */
  width: 100%;
  /* height: 100%; */
  margin: 0;
  align-self: center;
  justify-content: center;
  padding: 2.5rem;
  box-sizing: border-box;
  /* background-image: linear-gradient(to right, #3000b3bd, rgba(53, 53, 53, 0.459)); */
  /* background-image: linear-gradient(to right, #313131, #202020, #000000); */
  box-shadow: 10px;
  border-right: 0.5px solid #b500fd;
  text-align: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.Login .heading .chrome {
  font-family: 'PROMETHEUS';
  position: relative;
  background-image: linear-gradient(#b500fd, #00aced, #3000b3, #00aced, #b500fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #f5f5f5;
  font-size: 2.5rem;
  margin: 0;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.Login .heading .form-grouping {
  /* height: 50%; */
  margin: 0;
  align-self: center;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: blue
}

.Login .header {
  margin-bottom: 1rem;
  font-size: 2rem;
  border-bottom: 1px solid #00d2f7;
  justify-content: center;
  border-image: linear-gradient(to right, #3000b3, #00aced, #b500fd, #00aced, #3000b3);
  border-image-slice: 1;
  text-decoration: none
}

.Login .form-grouping .label {
  padding: 1px;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center
}

@media (min-aspect-ratio: 16/9) {
  .Login .container .chrome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .box .container .chrome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
  }
}