@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: #00d2f7;
  background: url("./images/galaxy-purple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.Sidebar {
  width: 300px;
  min-width: 210px;
  height: 100%;
  background-image: linear-gradient(to right, #3000b3bd, rgba(53, 53, 53, 0.459));
  /* background-image: linear-gradient(to right, #313131, #202020, #000000); */
  box-shadow: 10px;
  border-right: 0.5px solid #b500fd
}

.Main {
  width: 100%;
  height: 100%;
  position: relative
}

/* User */
.User {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border-bottom: 1px solid #b500fd;
}

.User .info p {
  font-size: 1.1rem;
  font-weight: bold;
  padding-left: 1px;
}

.User .info a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}

/* Modal */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
}

.Modal .container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

/* Add Todo */
.AddNewTodo {
  border-bottom: 1px solid #b500fd;
}

.AddNewTodo .btn {
  padding: 1rem;
  padding-bottom: 2rem;
  width: 100%;
  height: 80px;
}

.AddNewTodo .btn button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* border: 1px solid; */
  /* box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5); */
  font-size: 1rem;
  background-image: linear-gradient(to right, #b500fdde, #00d2f79a);
  color: ;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 4px;
}

.AddNewTodo .btn button:hover {
  background: #00d2f7;
  color: #050801;
  box-shadow: 0 0 5px #00d2f7, 0 0 25px #00d2f7, 0 0 50px #00d2f7,
    0 0 200px #00d2f7;
  border-radius: 10px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

/* AddNewTodo Form */
.TodoForm {
  padding: 1rem 1rem calc(1rem + 40px) 1rem;
  width: 100%;
  background: #3131318c;
  border-radius: 4px;
  height: 80%;
}

.TodoForm .text input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  border: none;
  font-size: 1.2rem;
  border-radius: 20px;
  background: #3131318c;
  color: #00d2f7;
  font-weight: bold;
}

.TodoForm .text input:focus {
  outline: none;
  border-bottom: 1px solid #b500fd;
}

.TodoForm .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.TodoForm p {
  margin-left: 10px;
}

.TodoForm .title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.TodoForm .pick-day {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.TodoForm .pick-time {
  padding: 1.5rem;
}

.TodoForm .pick-project {
  padding: 0.5rem;
}

.TodoForm .pick-project .projects {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0 1rem;
}

.TodoForm .pick-project .projects .project {
  border: 1px solid #0080ff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.TodoForm .pick-project .projects .active {
  background: #0080ff;
  color: white;
}

.TodoForm .cancel {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}

.TodoForm .confirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.TodoForm .confirm button {
  width: 100%;
  height: 40px;
  background: #0080ff;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
}

/* Calendar */
.Calendar {
  padding: 1rem;
  border-bottom: 1px solid #b500fd;
}

.Calendar .header {
  display: flex;
  align-items: center;
}

.Calendar .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}

.Calendar .header .title p {
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

.Calendar .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Calendar .header .btns span:hover {
  background-color: #ebebeb;
  transition: all 300ms ease-in-out;
}

.Calendar .items {
  padding: 0.5rem;
}

.Calendar .items .item {
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}

/* Projects */
.Projects {
  padding: 1rem;
  border-bottom: 1px solid #b500fd;
}

.Projects .header {
  display: flex;
  align-items: center;
}

.Projects .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}

.Projects .header .title p {
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #00d2f7;
}

.Projects .header .btns {
  display: flex;
  align-items: center;
}

.Projects .header .btns span.edit {
  margin-right: 5px;
}

.Projects .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Projects .header .btns span:hover {
  background-color: #3000b3;
  transition: all 300ms ease-in-out;
}

.Projects .items {
  padding: 0.5rem;
}

/* Project */
.Project {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
}

.Project .name {
  cursor: pointer;
  word-break: break-all;
}

.Project .btns {
  display: flex;
  align-items: center;
}

.Project .btns .total-todos {
  position: absolute;
  right: 0;
  background: #ebebeb;
  width: 25px;
  height: 25px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.Project .btns .edit-delete {
  position: absolute;
  right: 0;
  display: flex;
}

.Project .btns .edit-delete span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 300ms ease-in-out;
}

.Project .btns .edit-delete span.edit:hover {
  background: #acffac;
}

.Project .btns .edit-delete span.delete:hover {
  background: #ffacac;
}


/* AddNewProject */
.AddNewProject .add-button span {
  margin-right: 5px;
}

/* ProjectForm */
.ProjectForm {
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  position: relative;
  padding-bottom: 40px;
}

.ProjectForm input {
  width: 100%;
  height: 40px;
  margin: 15px 0;
  border: none;
  font-size: 1.2rem;
}

.ProjectForm input:focus {
  outline: none;
  border-bottom: 1px solid #0080ff;
}

.ProjectForm button {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 50%;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: filter 300ms ease-in-out;
}

.ProjectForm button.cancel {
  left: 0;
  background-color: #bebebe;
}

.ProjectForm button.confirm {
  right: 0;
  background-color: #0080ff;
}

.ProjectForm button:hover {
  filter: brightness(1.1);
}

/* Todos */

.Todos {
  background: #31313193;
  width: 450px;
  height: 80%;
  padding: 3px;
  position: absolute;
  border-radius: 20px;
  left: 40px;
  bottom: 40px;
  /* opacity: 0.9; */
  border: 2px solid #b500fd;
}

.Todos .selected-project {
  margin: 1rem 0;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 1px solid #00d2f7;
}

.Todos .todos {
  overflow-y: auto;
}

/* Todo */
.Todo {
  padding: 0.5rem 1rem;
}

.Todo .todo-container {
  display: flex;
  align-items: center;
}

.Todo .todo-container span {
  cursor: pointer;
}

.Todo .todo-container .text {
  position: relative;
  flex: 1;
  margin: 0 10px;
  cursor: pointer;
}

.Todo .todo-container .text span {
  font-size: 0.9rem;
  color: rgb(255, 4, 171);
}

.Todo .todo-container .text .line {
  height: 1px;
}

.Todo .todo-container .text .line-through {
  height: 1px;
  background: #bebebe;
  position: absolute;
  top: 25%;
  width: 0;
  transition: width 250ms ease-in-out;
}

.Todo .todo-container .text .line-through {
  width: 100%;
}

.Todo .todo-container .add-to-next-day {
  margin-right: 10px;
}

/* Edit Todo */
.EditTodo {
  background: #31313193;
  position: absolute;
  bottom: 40px;
  left: calc(40px + 450px + 40px);
  height: 80%;
  width: 450px;
  border-radius: 20px;
  border: 2px solid #00d2f7;
}

.EditTodo .header {
  margin: 1rem 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 1px solid #b500fd;
}

/* Social Media Icons */
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.linkedIn,
.gitHub,
.twitter {
  font-size: 3em;
  cursor: pointer;
  background-color: #18191f;
  color: #b500fd8f;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 8px;
  padding: 6px 6px;
  margin: 0 20px;
  animation: animate 5s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}

.linkedIn {
  animation-delay: 0.3s;
}

.gitHub {
  animation-delay: 0.7s;
}

.twitter {
  animation-delay: 0.1s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

/* Next7Days */
.Next7Days .day {
  margin: 5px;
  display: flex;
}

.Next7Days .day .name {
  font-weight: bold;
  font-size: 1rem;
}

.Next7Days .day .total-todos {
  margin-left: 10px;
}